<% if current_user %>
<div class="span12">
	<h1>Logged In</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
</div>
<% else %>
<div class="span12">
	<h1>Logged Out</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
</div>
<% end %>
